{% extends '::base.html.twig'%}
{% block body %}
{{ parent()}}
<div class="container">
    {% if user.premium %}
        {{event.descriptif}}
    {% else %}
    <p> L'accès à ces informations est restreint, vous devez vous procurer un compte premium <p>
    <p> <a href="{{path("blog_home")}}"> </a> Devenir premium </p>
    {% endif %}
</div>
{% endblock body %}