body{
    margin-top:100px;
    background-color: #edefed;
}

.main {
    min-height: 500px;
}

.navbar-default{
	/*background-color:#009974;*/
	/*background-color:#2c3e50;*/
	background-color:#363635;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color:black;
    background: #ffffff;
}

.footer{
    color: #edefed;
    margin-top: 50px;
    padding: 35px 0;
    background-color: #363635;
}

.footer .copyright {
    float: right;
    text-align: left;
}

.unstyled-list{
    list-style: none;
    padding: 0;
}

.content-body{
    min-height: 1200px;
}