#my_carousel img{
    height:400px;
    width:100%;
}

.caption-center{
    bottom:100px;
}

.carousel-header{
    position: absolute;
    z-index: 1;
}

.search-pannel{
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    padding: 30px;
}

.img-small{
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.img-small p{
    color:#edefed;
    margin: 0;
    padding: 0;
    font-size: xx-large;
    position: absolute;
    top:40%;
    width: 100%;
    text-align: center;
}

.img-small:hover{
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);
    -webkit-transition:all .5s cubic-bezier(.6,2,.4,1);
    -moz-transition:all .5s cubic-bezier(.6,2,.4,1);
    -ms-transition:all .5s cubic-bezier(.6,2,.4,1);
    -o-transition:all .5s cubic-bezier(.6,2,.4,1);
    transition:all .5s cubic-bezier(.6,2,.4,1);
    cursor: pointer;
}

.content-info{
    color: #edefed;
    margin-top: 50px;
    padding: 60px 0;
    background-color: #363635;
}

.content-info .copyright {
    float: right;
    text-align: left;
}

.unstyled-list{
    list-style: none;
    padding: 0;
}