fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}

.headtitle{
    margin: 10px;
    margin-bottom: 20px;
}
.headform{
    margin: 10px;
    margin-bottom: 20px;
    /*margin-left: 20%; */
}

.image{
    height:auto;
    width:100%;
}

.map{
    position: fixed;
    top: 60px;
    left: -15px;
    bottom: 10px;
    width: 40%;
}

#map-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
    /*margin-left: -55%;*/
    /*width:100%;*/
    /*height:500px;*/
    /*border-radius: 10px;*/
    /*position: fixed;*/
    /*border: #000 1px solid;*/
}
